:root {
  --paragraph-font: 'Roboto Serif', serif;
  --heading-font: 'Dokdo', cursive;
}
body {
  font-family: var(--paragraph-font)
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font)
}

p { 
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
