@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

body {
  font-family: 'Roboto Serif', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Dokdo', cursive;
}

p {
  font-family: 'Roboto Serif', serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  font-family: 'Roboto Serif', serif;
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}
